<!-- Top title section -->
<!-- <div class="container">
   <div class="well">
      <h1 align="center">Meeting Page</h1>
      <h4 align="center">Here you can create a new meeting, select date and time, room and attendees, and
         <br>check available rooms and select attendees.</h4>
   </div>    
</div> -->

<!-- Create Meeting section-->
<div class="container">
   <div class="well">
      <h1 align="center">Create New Meeting</h1>

      <div class="row">
         <div class="col-sm-6 col-sm-offset-3" id="formInput">
            
            <!-- Form: Subject input -->
            <form class="form">
               <div class="input-group">
                  <span class="input-group-addon">Subject</span>
                  <input id="subject" type="text" class="form-control" name="subject" placeholder="Subject of meeting..." ng-model="event.subject">
               </div>
            </form>
      
         </div>

         <div class="col-sm-1" id="formInput4">
            <!-- Form: Submit button -->
            <button type="button" class="btn btn-primary" ng-click="createMeeting()">Create</button>
         </div>
         
      </div>

      <div class="row">
         <div class="col-sm-6 col-sm-offset-3" id="formInput2">
            
            <!-- Form: Datetime input -->
            <div id="datetimepicker">
               <form class="form-inline">
                  <label class="control-label col-xs-2" for="start">Start:</label>
                  <div class="input-group col-xs-4">
                     <span class="input-group-addon"><i class="fa fa-calendar fa-fw" aria-hidden="true"></i></span>
                     <input id="date" type="text" class="form-control date start" name="date" placeholder="Date">
                  </div>
                  <div class="input-group col-xs-4">
                     <span class="input-group-addon"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i></span>
                     <input id="time" type="text" class="form-control time start" name="time" placeholder="Time">
                  </div>
               </form>
               <form class="form-inline">
                  <label class="control-label col-xs-2" for="end">End:</label>
                  <div class="input-group col-xs-4">
                     <span class="input-group-addon"><i class="fa fa-calendar fa-fw" aria-hidden="true"></i></span>
                     <input id="date" type="text" class="form-control date end" name="date" placeholder="Date">
                  </div>
                  <div class="input-group col-xs-4">
                     <span class="input-group-addon"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i></span>
                     <input id="time" type="text" class="form-control time end" name="time" placeholder="Time">
                  </div>
               </form>
            </div>

         </div>
      </div>

      <div class="row">
         <div class="col-sm-6 col-sm-offset-3" id="formInput3">

            <!-- Form: Room select list -->
            <div class="form-group">
               <label for="sel1">Select room:</label>
               <select class="form-control" id="selroom">
               <option ng-repeat="x in roomList.selectedRooms">{{ x.name }}</option>
               </select>
            </div>
         </div>   
      </div>
      
   </div>    
</div>

<!-- Daypilot schedule availability section -->
<div class="container">
   <div class="well">
      <h1 align="center">Check Availability</h1>
      <button type="button" class="btn btn-primary" ng-click="selectRooms()">Check Rooms</button>
      <button type="button" class="btn btn-primary" ng-click="selectEmployees()">Check Employees</button>
      <p>&nbsp</p>
      <daypilot-scheduler id="scheduler" daypilot-config="schedulerConfig" daypilot-events="events" ></daypilot-scheduler>
   </div>
</div>

<!-- Modal: hidden until user clicks select button -->
<div class="modal fade" id="empSelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Select employees for invite list:</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
   
            <!-- Form to update employee data inside modal -->
            <form class="form">
            <div class="row">
               <div class="col-sm-4 col-sm-offset-1">
                  <div class="form-group">
                     <label for="sel2">Employees:</label>
                     <select multiple class="form-control" size="10" id="sel2">
                        <option ng-repeat="x in empList.unselectedEmp">{{ x.name }}</option>
                     </select>
                  </div>
               </div>
               <div class="col-sm-2 text-center">
                  <br><br><br><br>
                  <button type="button" class="btn btn-basic"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                  <button type="button" class="btn btn-basic"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
               </div>
               <div class="col-sm-4">
                  <div class="form-group">
                     <label for="sel1">Invite list:</label>
                     <select multiple class="form-control" size="10" id="sel1">
                        <option ng-repeat="x in empList.selectedEmp">{{ x.name }}</option>
                     </select>
                  </div>
               </div>
            </div>
            </form>
   
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateEmp()">Select</button>
         </div>
      </div>
   </div>
   </div>

   <!-- Modal: hidden until user clicks select button -->
<div class="modal fade" id="roomSelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Select rooms to consider for reservation:</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
   
            <!-- Form to update room data inside modal -->
            <form class="form">
            <div class="row">
               <div class="col-sm-4 col-sm-offset-1">
                  <div class="form-group">
                     <label for="sel2">Available rooms:</label>
                     <select multiple class="form-control" size="10" id="unselOptions">
                        <option ng-repeat="x in rooms.unselected | orderBy : 'Number'">{{ x.Number }}({{ x.Capacity }})</option>
                     </select>
                  </div>
               </div>
               <div class="col-sm-2 text-center">
                  <br><br><br><br>
                  <button type="button" class="btn btn-basic"><i class="fa fa-chevron-right" aria-hidden="true" ng-click="selectRoom()"></i></button>
                  <button type="button" class="btn btn-basic"><i class="fa fa-chevron-left" aria-hidden="true" ng-click="unselectRoom()"></i></button>
               </div>
               <div class="col-sm-4">
                  <div class="form-group">
                     <label for="sel1">Selected rooms:</label>
                     <select multiple class="form-control" size="10" id="selOptions">
                        <option ng-repeat="x in rooms.selected | orderBy : 'Number'">{{ x.Number }}({{ x.Capacity }})</option>
                     </select>
                  </div>
               </div>
            </div>
            </form>
   
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateEmp()">Select</button>
         </div>
      </div>
   </div>
</div>
USR: {{rooms.unselected}}
SR: {{rooms.selected}}
         <!-- <div class="col-sm-5" id="formPreview">
            <p>Subject: {{event.subject}}<p>
            <p>Start: {{event.startTime.toLocaleString()}}</p>
            <p>End: {{event.endTime.toLocaleString()}}</p>
            <p>Room: {{event.room}}</p>
            <p>Attendees: {{event.attendees}}</p>
         </div> -->