<!-- Create Meeting section-->
<div class="container">
   <div class="well">
      <h3 align="center">Create Meeting</h3>
      <div class="row">
         <div class="col-sm-6 col-sm-offset-3" id="formInput">
            
            <!-- Form: Subject input -->
            <form class="form">
               <div class="input-group">
                  <span class="input-group-addon">Subject</span>
                  <input id="subject" type="text" class="form-control" name="subject" placeholder="Subject of meeting..." ng-model="subject" required>
               </div>
            </form>
      
         </div>

         <div class="col-sm-1" id="formInput4">
            <!-- Form: Submit button -->
            <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Create New Meeting" ng-click="createMeeting()">Create</button>
         </div>
         
      </div>

      <div class="row">
         <div class="col-sm-6 col-sm-offset-3" id="formInput2">
            
            <!-- Form: Datetime input -->
            <div id="datetimepicker">
               <form class="form-inline">
                  <label class="control-label col-xs-2" for="start">Start:</label>
                  <div class="input-group col-xs-4">
                     <span class="input-group-addon"><i class="fa fa-calendar fa-fw" aria-hidden="true"></i></span>
                     <input id="date" type="text" class="form-control date start" name="date" placeholder="Date">
                  </div>
                  <div class="input-group col-xs-4">
                     <span class="input-group-addon"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i></span>
                     <input id="time" type="text" class="form-control time start" name="time" placeholder="Time">
                  </div>
               </form>
               <form class="form-inline">
                  <label class="control-label col-xs-2" for="end">End:</label>
                  <div class="input-group col-xs-4">
                     <span class="input-group-addon"><i class="fa fa-calendar fa-fw" aria-hidden="true"></i></span>
                     <input id="date" type="text" class="form-control date end" name="date" placeholder="Date">
                  </div>
                  <div class="input-group col-xs-4">
                     <span class="input-group-addon"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i></span>
                     <input id="time" type="text" class="form-control time end" name="time" placeholder="Time">
                  </div>
               </form>
            </div>
         </div>
      </div>
      
      <div class="row">
         <div class="col-sm-offset-1 col-sm-2">
            <button type="button" class="btn btn-success btn-block pull-right" ng-click="selectEmployees()">Add Employees</button>
         </div>
         <div class="col-sm-9">
            <!-- a hook to display invitees -->
            <div id="formInfo" ></div>
         </div>
      </div><br>

      <div class="row">
         <div class="col-sm-offset-1 col-sm-2">
            <button type="button" class="btn btn-success btn-block pull-right" ng-click="selectRooms()">Add Rooms</button>
         </div>

         <div class="col-sm-6" id="formInput3">
            <!-- Form: Room select list -->
            <form class="form">
               <div class="input-group">
                  <span class="input-group-addon">Select Room</span>
                  <select class="form-control" id="sel1Room">
                     <option value=''>None</option>
                     <option value={{x._id}} ng-repeat="x in rooms | filter:{selected:true}">{{ x.Number }}({{x.Capacity}})</option>
                  </select>
               </div>
            </form>

            <!-- a hook to dipslay meeting booking success/failure -->
            <div id="formResponse"></div>

         </div>   
      </div>
      
   </div>    
</div>

<!-- Daypilot schedule availability section -->
<div class="container">
   <div class="well">
      <h3 align="center">Check Availability |
         <i class="fa fa-circle" id="legendAccept" style="font-size:1em;" title="Accepted"></i>=Accepted,
         <i class="fa fa-circle" id="legendPending" style="font-size:1em;" title="Pending"></i>=Pending,
         <i class="fa fa-circle" id="legendUnavailable" style="font-size:1em;" title="Pending"></i>=Unavailable
         
      </h3>
      <p>&nbsp</p>
      <daypilot-scheduler id="scheduler" daypilot-config="schedulerConfig" daypilot-events="schedulerEvents" ></daypilot-scheduler>
   </div>
</div>

<!-- Modal: hidden until user clicks select button -->
<div class="modal fade" id="empSelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Select employees for invite list:</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
   
            <!-- Form to update employee data inside modal -->
            <form class="form">
            <div class="row">
               <div class="col-sm-4 col-sm-offset-1">
                  <div class="form-group">
                     <label for="sel2">Employees:</label>
                     <select multiple class="form-control" size="10" id="selEmpF">
                        <option value={{x.index}} ng-repeat="x in employees | filter:{'selected':false} | orderBy:'LastName'">{{ x.LastName }}, {{x.FirstName}}</option>
                     </select>
                  </div>
               </div>
               <div class="col-sm-2 text-center">
                  <br><br><br><br>
                  <button type="button" class="btn btn-basic" ng-click="selectOption('emp','selEmpF',true)"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                  <br><br>
                  <button type="button" class="btn btn-basic" ng-click="selectOption('emp','selEmpT',false)"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
               </div>
               <div class="col-sm-4">
                  <div class="form-group">
                     <label for="sel1">Invite list:</label>
                     <select multiple class="form-control" size="10" id="selEmpT">
                        <option value={{x.index}} ng-repeat="x in employees | filter:{'selected':true} | orderBy:'LastName'">{{ x.LastName }}, {{x.FirstName}}</option>
                     </select>
                  </div>
               </div>
            </div>
            </form>
   
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateScheduler()">Select</button>
         </div>
      </div>
   </div>
   </div>

   <!-- Modal: hidden until user clicks select button -->
<div class="modal fade" id="roomSelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Select rooms to consider for reservation:</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
   
            <!-- Form to update room data inside modal -->
            <form class="form">
            <div class="row">
               <div class="col-sm-4 col-sm-offset-1">
                  <div class="form-group">
                     <label for="sel2">Available rooms:</label>
                     <select multiple class="form-control" size="10" id="selRoomF">
                        <option value={{x.index}} ng-repeat="x in rooms | filter:{'selected':false} | orderBy:'Number'">{{ x.Number }}({{ x.Capacity }})</option>
                     </select>
                  </div>
               </div>
               <div class="col-sm-2 text-center">
                  <br><br><br><br>
                  <button type="button" class="btn btn-basic" ng-click="selectOption('room','selRoomF',true)"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                  <br><br>
                  <button type="button" class="btn btn-basic" ng-click="selectOption('room','selRoomT',false)"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
               </div>
               <div class="col-sm-4">
                  <div class="form-group">
                     <label for="sel1">Selected rooms:</label>
                     <select multiple class="form-control" size="10" id="selRoomT">
                        <option value={{x.index}} ng-repeat="x in rooms | filter:{'selected':true} | orderBy:'Number'">{{ x.Number }}({{ x.Capacity }})</option>
                     </select>
                  </div>
               </div>
            </div>
            </form>
   
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateScheduler()">Select</button>
         </div>
      </div>
   </div>
</div>
<!-- {{rooms}} -->
<!-- {{employees}} -->