

<div class="top-outer-navbar">
  <div class="top-inner-navbar">
    <span>Scheduler</span>
    <nav class="directory">
      <a href="/">Home</a>
      <a href="/calendar">Calendar</a>
      <a href="/rooms">Rooms</a>
      <a href="/settings">Settings</a>
    </div>
  </nav>
  <div class="top-navbar-shadow"></div>
</div>


<!--
<div class="navbar-header">
  <div class="navbar-inner">
    <a class="subject-name" href="/">Scheduler</a>
    <nav class="directory">
      <a href="/">Home</a>
      <a href="/calendar">Calendar</a>
      <a href="/rooms">Rooms</a>
      <a href="/settings">Settings</a>
    </nav>
  </div>
  <div class="navbar-shadow"></div>
</div>
-->
